body{
    font-family: sans-serif;
}
tr {
    background-color: olive; color: white; border: 1px solid lightgrey;
    }


td {
background-color: olive; color: white; border: 1px solid lightgrey; padding: 0px; border: 1px solid lightgre

}
